<h1>Editing Network</h1>

<%= render 'form', network: @network %>

<%= link_to 'Show', @network, class: "btn btn-secondary" %>
<%= link_to 'Back', networks_path, @network, class: "btn btn-secondary" %>
